@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

.title{
    font-family: 'Courgette', cursive;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    margin-bottom: 60px;
    color:rgb(90, 50, 139);
}
